{% load i18n %}
{% load hk_generic %}

    {% if last_views %}
        <table class="table table-bordered table-condensed hidden-sm hidden-md hidden-lg">
            <tbody>
            {% for lv in last_views %}
                {% ifchanged lv.thread.mailinglist.name %}
                <tr class="list-address">
                    <td>{{ lv.thread.mailinglist.name }}</td>
                </tr>
                {% endifchanged %}
                <tr>
                    <td>
                        {% with num_unread=lv.num_unread starting_email=lv.thread.starting_email %}
                        {% if num_unread %}
                        <i class="unread icon-eye-close" title="{% trans 'New comments' %}"></i>
                        {% endif %}
                        <a href="{% url 'hk_thread' mlist_fqdn=lv.thread.mailinglist.name threadid=lv.thread.thread_id %}"
                            >{{ starting_email.subject }}</a>
                        <br>
                        {% trans "Original author:" %} {{ starting_email.sender.name }}
                        <br>
                        {% trans "Started on:" %} {{ starting_email.date|date:"D, j M Y H:i" }}
                        <br>
                        {% trans "Last activity:" %} {{ lv.thread.date_active|timesince }}
                        <br>
                        {% trans "Replies:" %} {{ lv.thread|num_comments }}
                        {% if num_unread %} / {{ num_unread }} {% trans "new" %} {% endif %}
                        {% endwith %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <table class="table table-striped table-bordered table-condensed hidden-tn hidden-xs">
            <thead>
                <tr>
                    <th></th>
                    <th>{% trans "List" %}</th>
                    <th>{% trans "Subject" %}</th>
                    <th>{% trans "Original author" %}</th>
                    <th>{% trans "Start date" %}</th>
                    <th>{% trans "Last activity" %}</th>
                    <th>{% trans "Replies" %}</th>
                </tr>
            </thead>
            <tbody>
            {% for lv in last_views %}
                <tr>
                    {% with num_unread=lv.num_unread starting_email=lv.thread.starting_email %}
                    <td>
                        {% if num_unread %}
                        <i class="unread icon-eye-close" title="{% trans 'New comments' %}"></i>
                        {% endif %}
                    </td>
                    <td>
                        <span class="hidden-md hidden-lg">{{ lv.thread.mailinglist.name|until:"@" }}</span>
                        <span class="hidden-sm">{{ lv.thread.mailinglist.name }}</span>
                    </td>
                    <td><a href="{% url 'hk_thread' mlist_fqdn=lv.thread.mailinglist.name threadid=lv.thread.thread_id %}"
                            >{{ starting_email.subject }}</a></td>
                    <td>{{ starting_email.sender.name }}</td>
                    <td>{{ starting_email.date }}</td>
                    <td>{{ lv.thread.date_active|timesince }}</td>
                    <td>
                        {{ lv.thread|num_comments }}
                        {% if num_unread %} / {{ num_unread }} {% trans "new" %} {% endif %}
                    </td>
                    {% endwith %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% include "hyperkitty/paginator.html" with pager=last_views page_key="lvpage" %}
    {% else %}
        <p>{% trans "Nothing read yet." %}</p>
    {% endif %}
